.skills{
	&__content{
		height: 100%;
		display: grid;
		align-items: center;
		grid-gap: 50px;
		@media (max-width: 992px) {
			grid-gap: 40px;
		}
	}
	&__row{
		display: flex;
		justify-content: space-between;
		@media (max-width: 992px) {
			display: grid;
			grid-template-columns: 1.5fr 2fr;
			justify-content: initial;
			grid-gap: 40px;
		}
		@media (max-width: 480px) {
			grid-template-columns: 1fr;
			grid-gap: 20px;
		}
		h2{
			font-size: 14px;
			opacity: 0.7;
			font-weight: 300;
		}
	}
	&__grid{
		display: grid;
		grid-template-columns: repeat(3, 200px);
		grid-gap: 20px 60px;
		margin-left: 40px;
		@media (max-width: 992px) {
			grid-template-columns: 1fr;
			margin-left: 20px;
		}
		// li::marker{
		// 	content: "—  ";
		// }
		li{
			list-style: square;
			&::marker{
				color: #BDBDBD;
			}
		}
		h3{
			font-size: 16px;
			font-weight: 400;
			display: flex;
			align-items: flex-end;
			margin-left: 5px;
			p{
				color: greenyellow;
				font-size: 10px;
				margin-bottom: 3px;
				margin-left: 5px;
			}
		}
	}
}